<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.demo.dao.RoommateDAO">
    <sql id="table">user</sql>
    <sql id="selectFields">userId, userName, userPassword, userEmail, userSex, userTelNumber, userBirthday, userNation, userDistrict</sql>
    <select id="getUserById" resultType="import com.example.demo.com.example.demo.model.User">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </select>
</mapper>
